.div_phonebook_full {
  display: block;
  width: min-content;
  height: min-content;
}

.section_search_add {
  display: block;
  outline: solid 1px black;
}
.phonebook_title_h2 {
  font-size: 32px;
  font-family: Arial, sans-serif;
  font-style: italic;
  text-shadow: 2px 2px 4px #000000;
}
.phonebook_title {
  display: block;
}

.phonebook_block_title {
  display: block;
  font-size: 28px;
  font-family: Arial, sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}
.input_search {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.phonebook_btn_addcontact {
  display: block;
  margin-top: 15px;
  border-radius: 10%;
  outline: solid 1px grey;
}
.phonebook_btn_addcontact:hover {
  background: green;
  cursor: pointer;
}

.phonebook_contacts {
  display: block;
}

.div_counter_feedback {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
}
.button_feedback {
  padding: 10px;
  background-color: #fcf7f7;
  border-radius: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 20px;
  outline: solid 2px #ccc;
  font-style: italic;
  font-weight: bolder;
}

.statistiks_feedback {
  outline: solid 2px #861a1a;
}
.statistiks_span {
  font-size: 20px;
}
.span_counter_statistics {
  font-size: 30px;
  font-weight: bold;
  margin: 0 10px;
}

.div_stat_span_block {
  display: block;
}
.phonebook_contacts_block {
  display: block;
}
.phonebook_contacts_p {
  display: block;
  outline: solid 2px grey;
  height: 20px;
}
